/* rememeber to section off styles by pages
and to call elements by id and class names*/

/* all pages */
html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(76, 76, 233);
}

h1 {
  text-align: center;
  font-size: 100px;
}

#nav-container {
  display: inline-flex;
  text-align: center;
  margin: 45px 210px;
}

#timed-game-btn {
  margin-right: 100px;
}

a {
  text-decoration: none;
  font-size: 45px;
  color: black;
  height: 100px;
  width: 250px;
  margin: 50px;
}

a:hover {
  color: blue;
  animation: shake 0.8s;
  font-size: 47px;
}

.return {
  margin-left: -1px;
}

/* instructions page */

h2 {
  font-size: 60px;
  color: rgb(187, 42, 42);
}

h3 {
  font-size: 40px;
}

p {
  font-size: 25px;
}

/* Styling for gameboard */

#gameGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 500px;
  height: 300px;
  width: 400px;
}

.ad {
  margin-top: 300px;
}
