/* rememeber to section off styles by pages
and to call elements by id and class names*/

/* all pages */
html,
body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 100px;
  color: white;
}

.game-title {
  font-family: 'Press Start 2P', cursive;
  color: white;
  margin-top: 100px;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 45px;
  color: rgb(207, 22, 22);
  height: 100px;
  width: 250px;
  margin: 50px;
}

.start-btn {
  margin-right: 500px;
  border: none;
}

.start-btn:hover {
  height: 300px;
  width: 600px;
  margin-left: 150px;
}

/* Styling for gameboard */

.game-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#game-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: 325px;
  height: 600px;
  width: 800px;
}

.ad {
  margin-top: 50px;
  margin-left: 100px;
  font-size: 25px;
}

img {
  border: rgb(0, 146, 237) 2px solid;
  background-color: rgb(0, 0, 0);
}

.score {
  text-align: center;
}

.score-counter {
  margin-left: 5px;
}
